header > div {
    height: 80px;
}

#head-icons a:hover{
    color: rgb(191, 191, 191);
}
#nav-bar-sx {
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
    height: calc(100vh - 80px);
    padding-left: 0;
    width: 60px;
}
.dropdown-menu-icons {
    width: 16px;
    text-align: center;
}
.btn-secondary {
    --bs-btn-color: none; 
    --bs-btn-bg: none;
}
ul {
    list-style-type: none;
}
ul li:hover{
    background-color: darkgray;
}
main > .row {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.col-dx-celeste {
    background-color: #1B72E8;
    width: calc(100vw - 60px);
}
.col-dx-celeste .rounded-pill {
    background-color: #004887 !important;
}
.offcanvas {
    --bs-offcanvas-width: 100%;
}
